@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts";

body {
	font-family: var(--font-sans);
}

:root {
	--font-sans: "Advent Pro", "Roboto", ui-sans-serif, system-ui, sans-serif;
	--font-amatic: "AmaticSC";
	--ui-primary: #f1b17a;
	--ui-primary-foreground: #1f1a17;
	--ui-gray: #2b2623;
	--ui-container: 1150px;
}
