@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts";

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans);
	background-color: #f5efea;
}

:root {
	--font-sans: "Advent Pro", "Roboto", ui-sans-serif, system-ui, sans-serif;
	--font-amatic: "AmaticSC";
	--ui-primary: #433320;
	--ui-secondary: #677256;
	--ui-container: 1150px;
	--header-height: 150px;
	/* --ui-bg-elevated: rgba(241, 177, 122, 0.2); */
}

section[id] {
	scroll-margin-top: 50px;
	/* var(--header-height); */
}
